In [1]:
import pandas as pd
import csv
import os

Estabelecendo pastas para entrada e saída de dados, bem como o arquivo .csv a ser analisado

In [2]:
DATADIR = '/home/seabra/Documentos/analise_dados'
DATADIR_DESTINO = '/home/seabra/Documentos/analise_dados/saida'

In [3]:
ARQUIVO_ENTRADA = 'consumo_faturado_agua.csv'

In [21]:
consumo_faturado = pd.read_csv(os.path.join(DATADIR, ARQUIVO_ENTRADA), sep=';')

In [22]:
consumo_faturado.shape

(4207250, 9)

In [19]:
consumo_faturado.head()

,RECA_ID,MUNI_ID,MUNICIPIO,LOCA_ID,LOCALIDADE,RECA_CONSUMOAGUA,RECA_VOCONSUMOFATURADO,RECA_ICHIDROMETRO,CATG_ID
0,123835935,790,JABOATAO DOS GUARARAPES,341.0,PRAZERES,1.0,10.0,1.0,1.0
1,123835936,1160,RECIFE,342.0,JANGADINHA,37.0,37.0,1.0,1.0
2,123835938,1450,SURUBIM,145.0,SURUBIM,30.0,30.0,1.0,1.0
3,123835941,290,CABO DE SANTO AGOSTINHO,171.0,PONTE DOS CARVALHOS,14.0,14.0,1.0,1.0
4,123835947,80,ALTINHO,8.0,ALTINHO,25.0,25.0,1.0,1.0

Uma coluna do arquivo .csv pode ser especificada para ser o índice do DataFrame

In [20]:
consumo_faturado = pd.read_csv(os.path.join(DATADIR, ARQUIVO_ENTRADA), sep=';', index_col=0)

/home/seabra/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [15]:
consumo_faturado.head()

,MUNI_ID,MUNICIPIO,LOCA_ID,LOCALIDADE,RECA_CONSUMOAGUA,RECA_VOCONSUMOFATURADO,RECA_ICHIDROMETRO,CATG_ID
RECA_ID,,,,,,,,
123835935,790.0,JABOATAO DOS GUARARAPES,341.0,PRAZERES,1.0,10.0,1.0,1.0
123835936,1160.0,RECIFE,342.0,JANGADINHA,37.0,37.0,1.0,1.0
123835938,1450.0,SURUBIM,145.0,SURUBIM,30.0,30.0,1.0,1.0
123835941,290.0,CABO DE SANTO AGOSTINHO,171.0,PONTE DOS CARVALHOS,14.0,14.0,1.0,1.0
123835947,80.0,ALTINHO,8.0,ALTINHO,25.0,25.0,1.0,1.0

As colunas em um DataFrame funcionam como atributos de um objeto e são usadas para acessar os valores contidos

In [25]:
consumo_faturado.MUNICIPIO.head()

0    JABOATAO DOS GUARARAPES
1                     RECIFE
2                    SURUBIM
3    CABO DE SANTO AGOSTINHO
4                    ALTINHO
Name: MUNICIPIO, dtype: object

Uma outra forma de acessar os valores de uma coluna é atraves do operador de indexação []

In [29]:
consumo_faturado['LOCALIDADE'].head()

0               PRAZERES
1             JANGADINHA
2                SURUBIM
3    PONTE DOS CARVALHOS
4                ALTINHO
Name: LOCALIDADE, dtype: object

In [30]:
consumo_faturado['LOCALIDADE'][10]

'CARUARU'